In [1]:
import pandas as pd
import numpy as np
import warnings
import ctypes
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("../data/raw/ml-100k/u.data", sep='\t', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'])
data

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [3]:
GENRES = ["unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", 
              "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
OCCUPATIONS = ["administrator", "artist", "doctor", "educator", "engineer", "entertainment", "executive", "healthcare", "homemaker", "lawyer", 
               "librarian" ,"marketing" ,"none" ,"other" ,"programmer" ,"retired" ,"salesman" ,"scientist" ,"student" ,"technician" ,"writer"]

In [4]:
items = pd.read_csv("../data/raw/ml-100k/u.item", sep='|', header=None, names=["movie_id", "movie_title", "release_date", "video_release_date",
              "IMDb_URL", "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", 
              "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"], encoding='ISO-8859-1')
items

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
items = items.drop(columns=['video_release_date'])
items

,movie_id,movie_title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
users = pd.read_csv("../data/raw/ml-100k/u.user", sep='|', header=None, names=["user_id", "age", "gender", "occupation", "zip_code"], encoding='ISO-8859-1')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [7]:
def my_hash(x):
  return ctypes.c_size_t(hash(x)).value

def users_encode(users):
  users_enc = users.copy()
  users_enc["age"] = users['age']/100
  users_enc["gender"] = (users['gender']=='M').astype(int)
  users_enc["zip_code"] = users["zip_code"].apply(my_hash)
  max_zip = users_enc["zip_code"].max()
  users_enc["zip_code"] = users_enc["zip_code"]/max_zip
  users_enc = pd.concat([users_enc.drop('occupation', axis=1), pd.get_dummies(users_enc['occupation'], dtype=float)], axis=1)
  users_enc = users_enc.drop(columns=["other"])
  return users_enc

In [8]:
def get_users_fav_films(users, data, n):
  users = users.copy()
  top_films = data.set_index('movie_id').groupby('user_id')['rating'].nlargest(n).reset_index().groupby('user_id')['movie_id'].apply(list).reset_index(name = 'movie_ids')

  target = top_films
  for i in range(1682):
      target[f"{i+1}"] = 0
  
  for i, row in target.iterrows():
      for elem in row['movie_ids']:
          target.at[i, f"{elem}"] = 1
          
  return pd.concat([users, target.drop(columns=['user_id'])], axis=1).drop(columns=['movie_ids']), target['movie_ids'] #DON"T FORGET TO SUBTRACT 1

In [9]:
def build_target(data):
    target = data.groupby('user_id')['movie_id'].apply(list).reset_index(name = 'movies') 
    for i in range(1682):
        target[f"{i+1}"] = 0
    
    for i, row in target.iterrows():
        for elem in row['movies']:
            target.at[i, f"{elem}"] = 1
    return target

Here I decided to take 10 films with highest score from each user as favorite ones, since everyone

In [10]:
NUM_FAV_FILMS = 10

def build_dataset(users, data):
    dataset = users_encode(users)
    final_dataset, masks = get_users_fav_films(dataset, data, NUM_FAV_FILMS)
    final_dataset = final_dataset.drop(columns=["user_id"])
    target = build_target(data)
    final_target = target.drop(columns=["user_id", "movies"])
    return final_dataset, final_target, masks

In [11]:
dataset, targets, masks_list = build_dataset(users, data)

In [12]:
TRAIN_RATIO = 0.6
VAL_RATIO = 0.5 
SEED = 177013

train_dataset = dataset.sample(frac=TRAIN_RATIO, random_state=SEED)
val_dataset = dataset.drop(train_dataset.index).sample(frac=VAL_RATIO, random_state=SEED)
test_dataset = dataset.drop(train_dataset.index).drop(val_dataset.index)

train_targets = targets.sample(frac=TRAIN_RATIO, random_state=SEED)
val_targets = targets.drop(train_targets.index).sample(frac=VAL_RATIO, random_state=SEED)
test_targets = targets.drop(train_targets.index).drop(val_targets.index)

train_masks = masks_list.sample(frac=TRAIN_RATIO, random_state=SEED)
val_masks = masks_list.drop(train_masks.index).sample(frac=VAL_RATIO, random_state=SEED)
test_masks = masks_list.drop(train_masks.index).drop(val_masks.index)

In [13]:
print(f"{len(train_dataset)=}")
print(f"{len(val_dataset)=}")
print(f"{len(test_dataset)=}")

len(train_dataset)=566
len(val_dataset)=188
len(test_dataset)=189

In [14]:
train_dataset.to_csv("../data/internal/train_dataset.csv", index = False)
val_dataset.to_csv("../data/internal/val_dataset.csv", index = False)
test_dataset.to_csv("../benchmark/data/test_dataset.csv", index = False)

In [15]:
train_targets.to_csv("../data/internal/train_targets.csv", index = False)
val_targets.to_csv("../data/internal/val_targets.csv", index = False)
test_targets.to_csv("../benchmark/data/test_targets.csv", index = False)

In [16]:
train_masks.to_csv("../data/internal/train_masks.csv", index = False)
val_masks.to_csv("../data/internal/val_masks.csv", index = False)
test_masks.to_csv("../benchmark/data/test_masks.csv", index = False)